html, body {
    margin:0;
    height:100%;
}

#sigma-container {
    position: absolute;
    width: 95%;
    height: 85%;
    background-color: rgba(249, 248, 248, 1);
}

.page-title {
    margin: .25em .25em .25em 3em !important;
}

.scrollable {
    height: 85% !important;
    overflow: scroll;
}
